

body {
  left: 0;
  top: 0;
  margin: 0;
  background: #F0F0F0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777; 
  background-image: url("assets/images/concrete_seamless.png");
  flex-direction: column; 
    
}

#headerBox {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    color:#cccccc;
    background: #ffffff;
   border-bottom:2px solid #cccccc 
  }

header {
  float: left;
  width: 250px;
  height: 85px;
  margin-left: 270px;
  background:#4aaaa5;
  text-align: center;
  color:#ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 230%;
  line-height: 80px;
  font-weight: bold;
}

.button {
  float: right;
  margin-top: 25px;
  padding: 5px 10px;
  margin-right: 260px;
}

.button a {
  font-size: 20px;
  color: #777;
  text-decoration: none;
  margin-left: 20px;
  
}


.headerBox::after {
content:"";
display: block;
clear: both;
}
#content {
  position: relative;
  width: 960px;
  margin: 0 auto 0 auto;
  top: 120px;
  width: 960px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #dddddd;
  
}

h1 {

  width: 900px;
  height: 50px;
  padding: 20px;
  margin-left: 10px;
  margin-top: 0px;
  background: white;
  color:#4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 250%;
  border-bottom:2px solid #cccccc 
}

#bio-image {
    height: 200px;
    width: 150px;
    margin-right: 10px;
    float: left;
 }

 .about-me {
  padding: 0;
  margin: 20px 0 0 0;
  overflow: auto;
  
  line-height: 150%;
 }

 footer {
  width: 100%;
  height: 50px;
  margin-top: auto;
  border-top: 5px solid #4aaaa5;
  position: absolute;
  color: #ddd;
  font-size: .75em;
  text-align: center;
  background-color: #666;
 }

 .copyright {
  position: absolute;
  bottom: 0;
  margin: 5px auto;
  width: 100%;
 }